# Local models
#CLAIM_MODEL_1=Qwen/Qwen3-8B # Too large for local
#CLAIM_MODEL_1=Qwen/Qwen3.5-0.8B # Small, working model for local testing
CLAIM_MODEL_1=Qwen/Qwen3.5-4B # Larger, better model for local testing

#CLAIM_MODEL_2=Qwen/Qwen2.5-0.5B-Instruct # Small, working model for local testing
CLAIM_MODEL_2=Qwen/Qwen2.5-3B-Instruct # Larger, better model for local testing

# Remote model
CLAIM_MODEL_REMOTE=gpt-4o-mini
OPENAI_API_KEY=

# Hugging Face token for speeding up model downloads and higher Hub rate limits
HF_TOKEN=
